{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "prettier",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": ["prettier", "import"],
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": "off",
    "no-use-before-define": ["error", { "functions": false }]
  },
  "globals": {
    "__DEV__": true,
    "__TEST__": true,
    "logger": true,
    "_": true
  }
}
